body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

#biography-container {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

#img {
    width: 200px;
    border-image-width: 10x solid;
    border-color: black;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#show-more {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#fun-facts {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#children-info {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}